body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    gap: 8px;
    list-style-type: none;
}

button{
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
}

.header-hero-container{
    background-color: #1f2937;
}

.header{
    display: flex;
    flex: 1;
    padding: 8px;
    background-color: #1f2937;
    color: #f9faf8;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.header-logo{
    display: flex;
    margin-left: auto;
}

.header-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}


.hero{
    color: white;
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    flex-wrap: wrap;
}


.hero-left-side{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.hero-right-side{
    margin-right: auto;
}


.awesome{
    font-size: 48px;
    font-weight: bolder;
    width: 300px;
    margin-bottom: 8px;
    color: #f9faf8;
}

.smaller-text{
    flex-wrap: wrap;
    width: 300px;
    margin-bottom: 8px;
    color:  #e5e7eb;
}

.left-button{
    width: 100px;
    line-height: 30px;
    border-radius: 8px;
}


.random-info{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    flex: 1;
    gap: 32px;
    margin-bottom: 100px;
}

.img-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-info-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title-header{
    margin-bottom: 32px;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.square-img{
    display: flex;
    flex-wrap: wrap;
    border: #3882f6 2px solid;
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    font-size: 36px;  
    background-color: #e5e7eb;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    padding: 100px;
    flex-wrap: wrap;
}

.quote{
    font-size: 36px;
    font-style: italic;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.quotee{
    display: flex;
    font-weight: bolder;
    justify-content: flex-end;
    align-items: flex-end;
}

.CTO-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 150px;
}

.CTO{
    display: flex;
    background-color: #3882f6;
    padding: 80px;
    border-radius: 8px;
    gap: 8px;
    flex-wrap: wrap;
}

.CTO-left{
    display: flex;
    flex-direction: column;
}

.CTO-right{
    border-color: white;
    width: 100px;
    line-height: 30px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.time{
    font-size: 36px;
    font-weight: bold;
}

.footer{
    text-align: center;
    padding-top: 50px;
    display: block;
}